// Required
@import "node_modules/bootstrap-scss/functions";
@import "node_modules/bootstrap-scss/variables";
@import "node_modules/bootstrap-scss/mixins";

// Optional
@import "node_modules/bootstrap-scss/reboot";
@import "node_modules/bootstrap-scss/type";
@import "node_modules/bootstrap-scss/images";
@import "node_modules/bootstrap-scss/code";
@import "node_modules/bootstrap-scss/grid";

body {
  background: red;
}

@include media-breakpoint-up(sm) {
  body {
    background: purple;
  }
}
@include media-breakpoint-up(md) {
  body {
    background: yellow;
  }
}
@include media-breakpoint-up(lg) {
  body {
    background: green;
  }
}
@include media-breakpoint-up(xl) {
  body {
    background: pink;
  }
}